{
  "extends": ["airbnb", "prettier"],
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": ["error", {
      "allow": [
        "__REDUX_DEVTOOLS_EXTENSION__"
      ]
    }],
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "it": true,
    "expect": true,
    "describe": true,
  }
}
